@import "tailwindcss";

:root {
  --background: #faf8f2;
  --foreground: #1e293b;

  --reviva-green: #2f6b2d;
  --reviva-green-light: #3dba24;

  --reviva-gold: #f4b21b;
  --reviva-gold-dark: #e89b11;

  --reviva-cream: #faf8f2;
  --reviva-text: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--reviva-cream);
  color: var(--reviva-text);
  font-family: var(--font-geist-sans);
}

